.combo-select {
    position: relative;
}

.combo-select .combo-select-head {
    position: relative;
    width: 100%;
    border: 2px solid #d1d3d4;
    border-radius: 6px;
    padding-left: 19px;
    height: 42px;
    font-size: 15px;
    font-weight: 400;
    color: #5a5a5a;
    background-color: #fff;
    text-align: left;
    outline: none;
    line-height: 42px;
    box-sizing: border-box;
}

.combo-select .combo-select-head.disabled {
    background-color: #fafafa;
    color: #d1d3d4;
    cursor: not-allowed;
}

.combo-select .combo-select-head svg path {
    fill: #40b4e5 !important;
}

.combo-select .combo-select-head.disabled svg path {
    fill: #d1d3d4 !important;
}

.combo-select div.combo-select-head {
    cursor: pointer;
}

.combo-select .combo-select-head svg {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    border: 0;
    position: absolute;
    right: 18px;
    top: 12px;
}

.combo-select .search-input {
    height: 32px;
    text-indent: 10px;
    border: 2px solid #d1d3d4;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    padding: 0;
    position: absolute;
    left: 0;
    width: 92%;
    margin-left: 3%;
    border-radius: 8px;
    z-index: 1001;
}
.combo-select .combo-select-body {
    position: absolute;
    border: 1px solid #d1d3d4;
    border-radius: 8px;
    width: 100%;
    background-color: #fff;
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    z-index: 1000;
}

.combo-select .combo-select-body .combo-select-body-scroll {
    overflow-x: hidden;
}

.combo-select .combo-select-body .combo-select-item {
    position: relative;
    width: 100%;
    padding-left: 19px;
    height: 42px;
    text-align: left;
    outline: none;
    line-height: 42px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

.combo-select .combo-select-body .combo-select-item svg {
    padding-right: 10px;
    margin-bottom: -0.1em;
}

.combo-select .combo-select-body .combo-select-item.selected.no-icon {
    background: #e1f3f3;
}

.combo-select .combo-select-body .combo-select-item.selected svg path {
    fill: #40b4e5 !important;
}

.combo-select .combo-select-body .combo-select-item:hover,
.combo-select .combo-select-body .combo-select-item.active {
    background: #f7f7f7;
}

.combo-select .combo-select-required-select {
    position: absolute;
    top: 4px;
    left: 30px;
    z-index: -1;
    width: 1px;
}

.combo-select .combo-select-controls {
    position: absolute;
}